.content-contact{
    width: 100%;
    display: block;
}
h6{
    margin-top: 10px;
    margin-bottom: 0px;
}
.edit-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
.btn-edit{
    background-color: #435ebe;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
}
